<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chat.repository.mapper.CommentMapper">

   	<select id="select" resultType="com.example.chat.model.CommentResponse">
   		select 
   			id commentId,
   			post_id postId,
   			user_id commentUserId,
   			comment comment,
   			ins_dt insDt,
   			upd_dt updDt
   		from
   			comments
   		where
   			id = #{commentId}
   	</select> 
   
   <insert id="insert" parameterType="com.example.chat.model.Comment">
      insert into 
      	comments
      values(
      	0,
      	#{postId},
      	#{commentUserId},
      	#{comment},
      	#{insDt},
      	#{updDt}   
      );
   </insert>
   <update id="update" parameterType="com.example.chat.model.Comment">
   		update
   			comments
   		set
   			comment = #{comment},
   			upd_dt = #{updDt}
   		where
   			id = #{commentId}
   </update>
   <delete id="delete" parameterType="com.example.chat.model.Comment">
   		delete 
   			c,
   			cl
   		from
   			comments c
   		left outer join
   			commentlikes cl
   		on
   			c.id = cl.comment_id
   		where
   			c.id = #{commentId}
   </delete>
</mapper>