<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chat.repository.mapper.LoginMapper">
   <select id="getOne" resultType="com.example.chat.model.Authentication">
      select 
      	user_id userId,
      	password password,
      	role role 
      from 
      	users 
      where 
      	user_id = #{userId}
   </select>
</mapper>